<div class="panel b" ng-init="registrationInit()" style="">
   <div id="script-captcha"></div>
   <div class="panel-heading" style="background-color: #72ab9a;margin-top: -20px">
      <h1 class="panel-title" style="color: white; text-align: center;">Support automates - Saisie d'un <u>nouvel</u>
         incident*</h1>
   </div>
   <!-- body -->
   <div class="panel-body">
      <p style="font-size: 17px;">
         * <b>Du lundi au vendredi <u>uniquement</u></b>.<br> Pour le samedi (de 9H à 14h), veuillez contacter
         l’astreinte via le numéro <b>05 63 67 27 00</b>.
      </p>
      <a class="btn btn-primary btn-xlg d-none hidden-lg hidden-md hidden-xl" href="tel:05 63 67 27 00"
         style="padding:10px;background-color:#72ab9a;margin-bottom:2rem">
         <span class="glyphicon glyphicon-earphone" style="padding-right:10px;"></span>05 63 67 27 00
      </a>
      <br>
      <form ng-submit="$event.preventDefault()" class="form-horizontal">
         <!-- name_society_tech input-->
         <div class="form-group">
            <label class="col-sm-3 control-label" for="name_society_tech"><span style="padding-left: .25em"
                  title="Mandatory" class="fa fa-asterisk mandatory"
                  ng-class="{'mandatory-filled': c.name_society_tech != '' && c.name_society_tech.split(' ').length > 1}"></span>
               ${name_society_tech}</label>
            <div class="col-sm-6">
               <input ng-model="c.name_society_tech" id="name_society_tech" name="name_society_tech"
                  placeholder="${Dupont Dupond (CAPS)}" class="form-control"
                  style="{{ c.name_society_tech.split(' ').length > 1 ? '' : 'border-color: #ed8f8f;'}}"
                  ng-disabled="data.display">
            </div>
         </div>

         <!-- Phone input-->
         <div class="form-group" ng-show='true'>
            <label class="col-sm-3 control-label" for="phone"><span style="padding-left: .25em" title="Mandatory"
                  class="fa fa-asterisk mandatory"
                  ng-class="{'mandatory-filled': c.phone != '' && c.checkPhoneNumber()}"></span>
               ${phone}</label>
            <div class="col-sm-6">
               <input ng-model="c.phone" id="phone" name="phone" placeholder="0676565XXX" class="form-control"
                  style="{{ c.checkPhoneNumber() ? '' : 'border-color: #ed8f8f;'}}" ng-disabled="data.display">
            </div>
         </div>

         <!-- Num automate input-->
         <div class="form-group">
            <label class="col-sm-3 control-label" for="automate_num"><span style="padding-left: .25em" title="Mandatory"
                  class="fa fa-asterisk mandatory"
                  ng-class="{'mandatory-filled': c.automate_num.toString().length == 13  && +c.automate_num}"></span>
               ${automate_number}</label>
            <div class="col-sm-6">
               <input ng-model="c.automate_num" id="automate_num" name="automate_num" placeholder="${XXXX391828391}"
                  class="form-control"
                  style="{{ c.automate_num.toString().length == 13  && +c.automate_num ? '' : 'border-color: #ed8f8f;'}}"
                  ng-disabled="data.display">
            </div>
         </div>

         <!-- panne_description input-->
         <div class="form-group">
            <label class="col-sm-3 control-label" for="panne_description"><span style="padding-left: .25em"
                  title="Mandatory" class="fa fa-asterisk mandatory"
                  ng-class="{'mandatory-filled': c.panne_description != ''}"></span>
               ${panne_description}</label>
            <div class="col-sm-6">
               <textarea ng-model="c.panne_description" id="panne_description" name="panne_description"
                  placeholder="${panne_description_placeholder}" class="form-control"
                  style="max-width:100%;min-width:100%;max-height:150px;min-height:70px;{{ c.panne_description != '' ? '' : 'border-color: #ed8f8f;'}}"
                  ng-disabled="data.display">
            </textarea>
            </div>
         </div>

         <!-- mail input-->
         <div class="form-group">
            <label class="col-sm-3 control-label" for="mail"><!--<span style="padding-left: .25em" title="Mandatory" ng-class="{'mandatory-filled': c.mail != '' && c.checkEmail()}"
                  class="fa fa-asterisk mandatory"></span> -->
               Mail</label>
            <div class="col-sm-6">
               <input ng-model="c.mail" id="mail" name="mail" placeholder="${mail}" class="form-control"
                  ng-disabled="data.display"><!--style="{{ c.mail != '' && c.checkEmail() ? '' : 'border-color: #ed8f8f;'}}"-->
            </div>
         </div>


         <!-- Privacy Policy & Terms conditions -->
         <div class="form-group col-sm-12 input-group-checkbox">
            <div class="col-sm-6 form_link col-sm-offset-3" tabindex="0" style="margin-bottom: -9px;">
               <label class="control-label adjust-label" for="checkbox_agree">
                  <input ng-model="c.policy" id="checkbox_agree" class="checkbox_agree" type="checkbox" name="policy">
                  ${I agree to the} <a href="/sn_customerservice_registration_privacy_policy_doc.do"
                     target="_blank">${Privacy Policy}</a>
                  ${and Community} <a href="/sn_customerservice_registration_terms_doc.do" target="_blank">${Terms and
                     Conditions}</a>
                  <span style="padding-left: .25em" title="Mandatory" class="fa fa-asterisk mandatory"
                     ng-class="{'mandatory-filled': c.policy}"></span>
               </label>
            </div>
         </div>
         <!-- Captcha V2 -->
         <div ng-if="data.enableV2Captcha">
            <input id="sitekey" type="hidden" value={{c.data.captchaSiteKeyv2}}>
            <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async
               defer> </script> -->
            <script>
               var onloadCallback = function () {
                  var siteKey = jQuery("#sitekey").val();
                  var captchaVerified;
                  var captchaWidget;
                  var verifyCallback = function (grc) {
                     if ((grc == "") || (grc == undefined))
                        captchaVerified = false;
                     else
                        captchaVerified = true;
                     jQuery("#captchaVerified").attr("value", captchaVerified);
                     CustomEvent.fireAll('sn_csm_captcha_verified', { captchaVerified: captchaVerified, grc: grc });
                  };
                  captchaWidget = grecaptcha.render('html_element', {
                     'sitekey': siteKey,
                     'callback': verifyCallback,
                     'theme': 'light',
                     'expired-callback': captchaExpired()
                  });
               };
               captchaExpired = function () {
                  captchaVerified = false;
                  jQuery("#captchaVerified").attr("value", captchaVerified);
                  CustomEvent.fireAll('sn_csm_captcha_verified', { captchaVerified: captchaVerified, grc: null });
               };
            </script>
            <div id="captcha_form_group" class="form-group">
               <input ng-model="c.captchaVerified" type="checkbox" name="captchaVerified" id="captchaVerified"
                  style="display:none;" class="form-control">
               <label class="col-sm-3 control-label">
                  <span style="padding-left: .25em" title="Mandatory" class="fa fa-asterisk mandatory"
                     ng-class="{'mandatory-filled': c.captchaVerified}"></span> ${Security Code}</label>
               <span class="col-sm-9">
                  <form action="?" method="POST">
                     <div class="g-recaptcha" id="html_element"></div>
                     <span class="help-block" id="retype_captcha"></span>
                  </form>
               </span>
            </div>
         </div>

         <!-- Captcha V3-->
         <div ng-if="data.enableV2Captcha">
            <!-- <script ng-if="data.enableV2Captcha == 'false'"
               src="https://www.google.com/recaptcha/enterprise.js?render=6LeZ2SEkAAAAAFqpkGiFGRDoM8-9stGeLvilQQtN"></script> -->
         </div>
         <button type="submit" class="btn btn-primary" ng-disabled="c.showSubmit()"
            ng-click="c.action()">${Submit}</button>
         <span style="margin-left: 1em;"><i>Le symbole "
               <span style="padding-left: .25em; margin-top:5px;" title="Mandatory"
                  class="fa fa-asterisk mandatory"></span>" indique une saisie obligatoire</i></span>
      </form>
   </div>