<div class="panel b" ng-init="registrationInit()">
   <!-- header -->
   <div class="panel-heading bg-primary">
      <h1 class="panel-title" ng-if="c.data.procedureChoice == 0">${Customer Registration}</h1>
     <h1 class="panel-title" ng-if="c.data.procedureChoice == 1">${Forgot password}</h1>
   </div>
   <!-- body -->
   <div class="panel-body" >
      <form ng-submit="$event.preventDefault()" class="form-horizontal">
                 <!-- Last Name input-->
         <div class="form-group" ng-if="c.data.procedureChoice == 'register'">
            <label class="col-sm-3 control-label" for="last_name">
              <span style="padding-left: .25em" title="Mandatory" class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': c.last_name != ''}"></span>
           	${Last Name}
           </label>
            <div class="col-sm-6">
               <input ng-model="c.last_name" id="last_name" name="last_name" placeholder="${last name}" class="form-control">
            </div>
         </div>
        
         <!-- First Name input-->
         <div class="form-group" ng-if="c.data.procedureChoice == 'register'">
           <label class="col-sm-3 control-label" for="first_name"><span style="padding-left: .25em" title="Mandatory" class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': c.first_name != ''}"></span>
           ${First Name}</label>
            <div class="col-sm-6">
               <input ng-model="c.first_name" id="first_name" name="first_name" placeholder="${first name}" class="form-control">
            </div>
         </div>
        
         <div class="form-group" ng-if="c.data.procedureChoice == 'register'">  
           <label class="col-sm-3 control-label" for="language">
             <span style="padding-left: .25em" title="Mandatory" class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': c.data.language != ''}"></span>
             ${Portal language}
           </label>
           <div class="col-sm-6">
            <input type="radio" id="choiceLanguage1"
                   name="choiceLanguage" ng-model="c.data.language" value="fr">
            <label for="choiceRequest1">${French}</label>

            <input type="radio" id="choiceLanguage2"
                   name="choiceLanguage" ng-model="c.data.language" value="en">
            <label for="choiceLanguage2">${English}</label>
           </div>
        </div>


         <!-- Registration Code input-->
         <div class="form-group" ng-show='false'>
            <label class="col-sm-3 control-label" for="code">${Registration Code}</label>
            <div class="col-sm-6">
               <input ng-model="c.code" id="code" name="code" placeholder="${Your company registration code}" class="form-control">
            </div>
         </div>
        
          <div class="form-group" ng-show='true'>
            <label class="col-sm-3 control-label" name="company" for="company"><span style="padding-left: .25em" title="Mandatory" class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': c.company !=''&&c.company !='example.com'&&c.company!=null}"></span>
           ${Company}</label>
            <div class="col-sm-6">
            <sn-choice-list id='company'
   
  sn-model="c.company" 
  sn-options="c.options" 
  sn-value-field="value" 
  sn-text-field="label"
  sn-on-change="c.setSelectedCompany(selectedValue)"
  sn-items="c.data.list">
</sn-choice-list>
            </div>
         </div>
        
          <div class="form-group" ng-show='c.selectedCompany !=null'>
            <label class="col-sm-3 control-label" for="domaine"><span style="padding-left: .25em" title="Mandatory" class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': c.dom !='example.com'}"></span>
           ${Domain}</label>
            <div class="col-sm-6">
              <select required ng-model="c.domainName" ng-change =  "c.dom = c.domainName;alert()"  style="opacity: 1; width: 100%;" class="myselect" name="domaine" id="domaine">
                
                	<option  ng-if = "c.singleDomaine == true" disabled value='-1' >-- None --</option>
                  <option  ng-selected = "c.singleDomaine == false" ng-repeat="domain in c.data.list[c.selectedCompany].domaines">{{domain.label}}</option>
                	
              </select>
              
            </div>
         </div>
                 <!-- Business Email input-->
 <div class="form-group">
          
             <label class="col-sm-3 control-label" for="email"><span style="padding-left: .25em" title="Mandatory" class="fa fa-asterisk mandatory" ng-class="{'mandatory-filled': c.email != '' && c.isvalidEmail}"></span>
           ${Business Email}</label>
          
            <div class="col-sm-3" style="padding-right:2px;">
             <input ng-change="c.toggle()"ng-model="c.email" id="email" name="email" style="text-align:right;" aria-describedby="basic-addon" placeholder="${business email}" class="form-control" ng-disabled="c.dom=='ca-ps.com'">
              <span style="color: red;" ng-show="!c.isvalidEmail">${Check your email syntax}</span>
              </div>
          <label style="padding-top:7px;text-align:left;" for="email">@{{c.dom}}</label>
				  <p class="col-sm-7 control-label" ng-if="c.dom=='ca-ps.com'" style="padding-top:7px; color:red">Pour les utilisateurs CAPS, passez par CAPS'Habilitation</p>
          </div>
 
             
   <div class="form-group" ng-if="c.data.procedureChoice == 'register'">
          
             <label class="col-sm-3 control-label" style="padding-top:0px;" for="email_perso">
           ${Add secondary notification mail/team mail}</label>
          
            <div class="col-sm-3" style="padding-right:2px;">
             <input ng-change="c.toggle()" ng-model="c.email_perso" id="email_perso" name="email_perso" style="text-align:right;" aria-describedby="basic-addon" placeholder="${notification email}" class="form-control">
              <span style="color: red;" ng-show="!c.isvalidSecondaryEmail">${Check your email syntax}</span>
              </div>
          <label style="padding-top:7px;text-align:left;" for="email_perso">@{{c.dom}}</label>
          </div>
     
         
           
           
     
        
         <div class="form-group" ng-show='true' ng-if="c.data.procedureChoice == 'register'">
            <label class="col-sm-3 control-label" for="phone">${Phone}</label>
            <div class="col-sm-6">
               <input ng-model="c.phone" id="phone" name="phone" placeholder="${phone number}" class="form-control">
            </div>
         </div>
        
         <!-- Privacy Policy & Terms conditions -->
         <div class="form-group col-sm-12 input-group-checkbox" ng-if="c.data.procedureChoice == 'register'">
            <div class="col-sm-6 form_link col-sm-offset-3" tabindex="0">
               <label class="control-label adjust-label" for="checkbox_agree">
               <input ng-model="c.policy" id="checkbox_agree" class="checkbox_agree" type="checkbox" name="policy">
               I agree to the <a href="/sn_customerservice_registration_privacy_policy_doc.do" target="_blank">Privacy Policy</a>
               and Community <a href="/sn_customerservice_registration_terms_doc.do" target="_blank">Terms and Conditions</a>
               </label>
            </div>
         </div>
         <input id="sitekey" type="hidden" value={{c.data.captchaSiteKey}}>
         <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer> </script>
         <script>
            var onloadCallback = function() {
                var siteKey = jQuery("#sitekey").val();
                var captchaVerified;
                var captchaWidget;
                var verifyCallback = function(grc) {
                    if ((grc == "") || (grc == undefined))
                        captchaVerified = false;
                    else 
                        captchaVerified = true;
                    jQuery("#captchaVerified").attr("value", captchaVerified);
                    CustomEvent.fireAll('sn_csm_captcha_verified', {captchaVerified: captchaVerified, grc: grc});
                };
                captchaWidget = grecaptcha.render('html_element', {
                    'sitekey': siteKey,
                    'callback': verifyCallback,
                    'theme': 'light',
                    'expired-callback': captchaExpired
                });
            };
            var captchaExpired = function() {
                captchaVerified = false;
                jQuery("#captchaVerified").attr("value", captchaVerified);
                CustomEvent.fireAll('sn_csm_captcha_verified', {captchaVerified: captchaVerified, grc: null});
            };
         </script>
         <!-- Google Recaptcha -->
         <div ng-if="data.enableCaptcha == 'true'" id="captcha_form_group" class="form-group">
            <input ng-model="c.captchaVerified" type="checkbox" name="captchaVerified" id="captchaVerified" style="display:none;" class="form-control">
            <label class="col-sm-3 control-label">${Security Code}</label>
            <span class="col-sm-9">
      <form action="?" method="POST">
      <div class="g-recaptcha" id="html_element"></div>
      <span class="help-block" id="retype_captcha"></span>
      </form>
      </span>
      </div>
   
      <div>
         <button type="submit" ng-disabled="data.status == 'success' || c.showSubmit()" ng-click="c.action()" class="btn btn-primary">${Submit}</button>
      </div>
      </form>
  